@import "../../constants/variables";

section#profile {
  padding: 0 0 3rem 0;

  h3 {
    display: flex;
    justify-content: center;
    text-align: center;

    span {
      font-size: 2.5rem;
      letter-spacing: 20px;
      padding-bottom: 2rem;
      text-indent: 20px;
    }
  }
}

.profile-bg {
  background: rgb(218, 218, 218);
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;

  .info-left {
    width: 50%;
    width: 100%;
    font-family: "Minion-Pro";
    line-height: 1.5;
    font-size: 1.6rem;
    word-break: break-word;
    padding: 0 12px 3.45rem 12px;
    text-align: center;
  }

  .info-right {
    width: 100%;
    font-family: "bangna-new";
    line-height: 1.5;
    font-size: 1.15rem;
    word-break: break-word;
    padding: 0 30px;
  }
}

@include screen("small") {
  .info {
    flex-direction: row;

    .info-left {
      width: 50%;
      text-align: right;
      padding: 0 12px;
    }
    .info-right {
      width: 50%;
      padding: 0 30px;
    }
  }
}
