section#hobby {
  padding: 3rem 0 3rem 0;

  h3 {
    display: flex;
    justify-content: center;
    text-align: center;

    span {
      font-size: 2rem;
      letter-spacing: 10px;
      padding-bottom: 2rem;
    }
  }
}

.hobby-bg {
  background: rgb(141, 105, 105);
}

.hobbies {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  .hobby {
    padding: 16px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    div {
      display: block;
      margin-top: 2rem;
      font-family: "bangna-new";
      font-size: 1.4rem;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .hobbies {
    align-items: flex-end;
    flex-direction: row;
  }
}
