@import "../../constants/variables";

section#skills {
  padding: 3rem 0 3rem 0;

  h3 {
    display: flex;
    justify-content: center;
    text-align: center;

    span {
      font-size: 2.5rem;
      letter-spacing: 20px;
      padding-bottom: 2rem;
      text-indent: 20px;
    }
  }
}

.skills-bg {
  background: rgb(218, 218, 218);
}

.skill-tree {
  display: none;
}

.skill-tree-mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;

  ul > li {
    list-style: none;
    font-size: 1.5rem;

    &.level {
      font-size: 1.2rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }
    &.lang {
      font-size: 1.2rem;
      list-style: disc;
      font-weight: 200;
    }
    &.framework {
      font-size: 1.2rem;
      list-style: disc;
      font-weight: 200;
    }
  }
}

@include screen("small") {
  .skill-tree {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100vh;
    margin: 0 auto;
  }

  .skill-tree-mobile {
    display: none;
  }
}
