html,
body {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;

  background-image: repeating-linear-gradient(
    173deg,
    #e7e7e7 0%,
    #e7e7e7 20%,
    transparent 20%,
    transparent 75%
  );
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.half-border {
  &::after {
    content: " ";
    width: 40%;
    height: 6px;
    background: #222;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
