@import "../../constants/variables";

$navBar-height: 200px;

.main-navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 9;
  transition: 0.3s all;

  .nav ul {
    transition: 0.3s all;
    li {
      transition: 0.3s all;
    }
  }

  &.collapse {
    animation: collapse 0.5s ease forwards;
  }

  &.open {
    animation: open 0.5s ease forwards;
  }

  .logo {
    display: none;
  }

  @keyframes collapse {
    from {
      opacity: 1;
      top: 0;
    }
    to {
      opacity: 0;
      top: -$navBar-height;
    }
  }

  @keyframes open {
    from {
      opacity: 0;
      top: -$navBar-height;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }

  @include screen("small") {
    flex-direction: row;

    .logo {
      display: block;
      width: 300px;
      transition: 0.3s all;
    }

    &.sticky {
      background: #fff;
      box-shadow: -5px 14px 12px -15px rgba(0, 0, 0, 0.65);
      transition: 0.3s all;

      .logo {
        width: 150px;
        transition: 0.3s all;
      }

      .nav {
        padding: 15px;
        align-items: center;
        display: flex;
        transition: 0.3s all;

        ul.navbar {
          margin-bottom: 0;
          transition: 0.3s all;

          li {
            margin: 0 20px;
            transition: 0.3s all;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
