@import "../../constants/variables";

.navbar-toggle {
  position: absolute;
  display: block;
  top: 25px;
  right: 16px;
  width: 32px;
  cursor: pointer;
  z-index: 30;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #222;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition(0.25s ease-in-out);

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }

    &:nth-child(4) {
      top: 20px;
    }
  }

  &.open {
    span:nth-child(1) {
      top: 13px;
      width: 0%;
      left: 50%;
    }

    span:nth-child(2) {
      @include transform(rotate(45deg));
    }

    span:nth-child(3) {
      @include transform(rotate(-45deg));
    }

    span:nth-child(4) {
      top: 13px;
      width: 0%;
      left: 50%;
    }
  }
}

.nav {
  padding: 28px;
  margin-right: 0;

  ul {
    list-style: none;
    flex-direction: column;

    @include screen("small") {
      display: flex;
      margin-right: 4rem;
      flex-direction: row;
    }

    li {
      text-transform: uppercase;
      cursor: pointer;
      margin: 20px;
      padding-bottom: 15px;
      font-size: 20px;

      a {
        &:after {
          display: block;
          content: "";
          border-bottom: 4px solid #222;
          @include transform(scaleX(0));
          @include transition(transform 250ms ease-in-out);
        }

        &:hover {
          &:after {
            @include transform(scaleX(1));
          }
        }
      }
    }
  }
}

@include screen("small") {
  .navbar-toggle {
    display: none;
  }

  .nav-contact {
    display: none;
  }

  .nav {
    margin-right: 4rem;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin: 0 auto;
  }

  .nav {
    position: fixed;
    background: #eee;
    z-index: 9;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 279px;
    width: 100%;
    padding: 100px 40px 60px 40px;
    overflow-y: auto;
    @include transform(translateX(100%));
    @include transition(transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86));

    ul.navbar {
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0;

      li {
        text-align: center;
        margin-left: 0;
        opacity: 0;
        @include transform(translateX(40px));
        @include transition(all 0.3s ease);

        &:last-of-type {
          margin-bottom: 0px;
        }

        a {
          &:hover {
            &::after {
              @include transform(scaleX(0.5));
            }
          }
        }
      }
    }

    .nav-contact {
      margin-top: 40px;
      opacity: 0;
      @include transform(translateY(30px));
      @include transition(all 0.4s ease);
    }

    &.show {
      @include transform(translateX(0px));

      ul.navbar {
        li {
          @include transform(translateX(0px));
          opacity: 1;

          @for $i from 1 to 10 {
            &:nth-child(#{$i}) {
              transition-delay: $i * 0.15s;
            }
          }
        }
      }

      .nav-contact {
        @include transform(translateY(0px));
        opacity: 1;
        transition-delay: 0.85s;
      }
    }
  }
}
