@import "../../constants/variables";

section#works {
  h3 {
    display: flex;
    justify-content: center;
    text-align: center;

    span {
      font-size: 2.5rem;
      letter-spacing: 20px;
      padding-bottom: 2rem;
      text-indent: 20px;
    }
  }
}

.works-gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
  flex-wrap: wrap;

  .work {
    display: flex;
    max-width: 100%;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    margin-bottom: 2rem;

    .work-name {
      margin-top: 1rem;
      font-family: "bangna-new";
      line-height: 1.3;
      font-size: 1.15rem;
      font-weight: bold;
      word-break: break-word;
    }
  }
}

@include screen("small") {
  .works-gallery {
    display: flex;
    justify-content: center;
    flex-direction: row;

    .work {
      width: 33.33333%;
    }
  }
}
